/* Provide sufficient contrast against white background */
body {
    background-color: #ffffff;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.buscar-clientes {
    background-color: white;
}

.txt-color{
    color: black;
    font-size: 18px;
}

.column-tb1{
    width: 100px;
}

.column-tb2 {
    width: 150px;
}

.column-tb3 {
    width: 300px;
}

/* Login Page */

.bg-login {
    background-color: #0741AD;
}

.minh-100 {
    min-height: 200vh;
}

.ct-font {
    color: white;
    font-size: 2em;
}

.font-s1 {
    font-size: 0.9em;
}

.font-s2 {
    font-size: 0.6em;
}


/* Home Page */

.home-navbar-bg {
    
     background-color: #20232a; 
    /*background-color: #0741AD;*/
}

/* NavBar & Menu */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh; 
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.font-s-logo {
    font-size: 0.5em;
}

.badge-secondary {
    padding: 6px;
}



